# Server
SERVER_PORT=8083
DOCKER_PORT=8084
SERVER_URL=http://localhost:8083

# JWT (mora biti isti secret kao i u user-service)
JWT_SECRET=your_jwt_secret_here

# Database
DB_HOST=localhost
DB_PORT=5433
DB_NAME=clientdb
DB_USER=postgres
DB_PASSWORD=postgres

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=rabbit
RABBITMQ_PASSWORD=rabbit
NOTIFICATION_QUEUE=notification-service-queue
NOTIFICATION_EXCHANGE=employee.events
NOTIFICATION_ROUTING_KEY=employee.#
